@import url('./main-layout.css');
@import url('./views/dashboard-view.css');

.bordered-title {
    border: 1px solid grey;  /* Border size and color */
    padding: 10px;            /* Padding for inner spacing */
    width: 100%;              /* Full width */
    box-sizing: border-box;   /* Include padding and border in the element's total width and height */
    border-radius: 15px;      /* Rounded edges */
}

.bordered-field {
    border: 1px solid grey; /* Change the border size and color as needed */
    padding: 10px;          /* Optional: Add some padding */
    box-sizing: border-box;   /* Include padding and border in the element's total width and height */
    border-radius: 15px;
}

.shopping-cart-button {
    padding: 10px 20px;       /* Padding for inner spacing */
    border-radius: 15px;      /* Rounded edges */
    background-color: #007bff; /* Blue background color */
    color: white;             /* White text */
    font-size: 1.2em;         /* Font size */
    border: none;             /* Remove border */
    cursor: pointer;          /* Cursor pointer */
    height: 50px;
}

.item-view {
    border: 1px solid lightgray;
    border-radius: 4px; /* Optional: Add rounded corners */
}

.item-view-title h2 {
    font-size: 1.2em;       /* Set the default font size */
    max-height: 2.4em;      /* Limit the height to 2 lines */
    line-height: 1.2em;     /* Match line height to font size */
    overflow: hidden;       /* Hide any overflowing text */
    text-overflow: ellipsis;/* Show ellipsis if the text is too long */
    display: -webkit-box;   /* Make the container a flexbox for webkit */
    -webkit-line-clamp: 2;  /* Limit to 2 lines */
    -webkit-box-orient: vertical; /* Vertical orientation for flexbox */
    white-space: normal;    /* Allow normal whitespace handling */
}

.styled-button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #0056b3;
}


.item-grid {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: visible;
}

.item-image {
    border-radius: 8px;
    object-fit: cover;
}

.total-price {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
}

.buy-now-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.buy-now-button:hover {
    background-color: #0056b3;
}

.shopping-cart-layout {
    max-width: 800px;
    margin: auto;
}

.left-align-grid .vaadin-grid-cell-content {
    text-align: left; /* Align text to the left */
}